<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiyou.mapper.HospSetterMapper">

    <resultMap id="outHospMap" type="InhostipalSettleModel">
        <id column="id" property="id"/>
        <result column="inho_finall_status" property="inho_finall_status"/>
        <result column="inho_total_case" property="inho_total_case"/>
        <result column="inho_cash" property="inho_cash"/>
        <result column="inho_end_time" property="inho_end_time"/>
        <result column="inho_medical_pay" property="inho_medical_pay"/>
        <result column="inho_drug_pay" property="inho_drug_pay"/>
        <association property="registinfoModel" column="regist_num" select="com.zhiyou.mapper.RegistrationMapper.selectRegByParam" javaType="RegistinfoModel"/>
    </resultMap>
    <select id="selectOutHospByRegNum" resultMap="outHospMap" parameterType="String">
        select * from hosp_inhostipal_settle
        <where>
            <if test="_parameter!=null and _parameter!=''">
                regist_num = #{regNum}
            </if>
        </where>
    </select>
    <update id="updateSetterHospByRegNum" parameterType="String">
        UPDATE hosp_inhostipal_settle
        <set>
            inho_finall_status = 0
        </set>
        <where>
            <if test="_parameter!=null and _parameter!=''">
                regist_num = #{regNum}
            </if>
        </where>
    </update>


    <!--查询最终结算信息-->
    <select id="selectHospSettleByParam" parameterType="String" resultMap="outHospMap">
        select * from hosp_inhostipal_settle
        <where>
            <if test="_parameter!=null and _parameter!=''">
                regist_num = #{regNum}
            </if>
        </where>
    </select>

    <!--把信息添加到结算信息界面-->
    <insert id="saveBillByParams" parameterType="HashMap">
        insert into hosp_inhostipal_settle
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="regNum != null" >
                regist_num,
            </if>
            <if test="drugSum != null" >
                inho_drug_pay,
            </if>
            <if test="inHospSum != null" >
                inho_medical_pay,
            </if>
            <if test="cash != null" >
                inho_cash,
            </if>
            <if test="inho_total_case!=null" >
                inho_total_case,
            </if>
            inho_finall_status,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="regNum != null" >
                #{regNum},
            </if>
            <if test="drugSum != null" >
                ${drugSum},
            </if>
            <if test="inHospSum != null" >
                ${inHospSum},
            </if>
            <if test="cash != null" >
                ${cash},
            </if>
            <if test="inho_total_case!=null" >
                ${inho_total_case},
            </if>
            1,
        </trim>
    </insert>

    <update id="updateBillByParams" parameterType="HashMap">
        update hosp_inhostipal_settle
        <trim prefix="set" suffixOverrides="," suffix=" where regist_num = #{regNum} ">

            <if test="drugSum != null"> inho_drug_pay=${drugSum} ,  </if>

            <if test="inho_total_case != null"> inho_total_case=${inho_total_case} ,  </if>
        </trim>
    </update>
</mapper>